<ion-header>
  <ion-toolbar>
    <ion-title>Provinces of Ireland</ion-title>
  </ion-toolbar>
  <ion-button [routerLink]="['/movie']">Go to movies</ion-button>
  <ion-button [routerLink]="['/home']">Go to home</ion-button>
  <ion-button [routerLink]="['/status']">Set Status</ion-button>
</ion-header>
<!--Simple ordered list to show provinces of Ireland-->
<ion-content>
<ul>
  <li>Ulster</li>
  <li>Munster</li>
  <li>Connaught</li>
  <li>Leinster</li>
</ul>

<img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Flag_of_Ulster.svg">
</ion-content>
