<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>movie</ion-title>
  </ion-toolbar>
  <ion-button [routerLink]="['/home']">Go to Home</ion-button>
  <ion-button [routerLink]="['/provinces']">Go to provinces</ion-button>
  <ion-button [routerLink]="['/status']">Set Status</ion-button>
</ion-header>

<ion-content>
  <!--Grabs data from the HTTP link from the ts page and puts it here-->
<ion-card *ngFor="let movie of MovieData">
  <img src="{{movie.Poster}}" />
  <ion-card-header>
    <ion-card-subtitle>Title</ion-card-subtitle>
    <ion-card-title>{{movie.Title}}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    {{movie.Year}}
  </ion-card-content>
</ion-card>
</ion-content>


